body{
	font-family: 'Cairo', sans-serif;
}

*{
	box-sizing: border-box;
}

body, html{
	padding: 0;
	margin: 0;
	background: #e7e6b8;
	height: 100%;
}

.site-wrap {
    display: flex;
    height: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    flex-wrap: wrap;
    height: 100%;
}

.logo {
    width: 20%;
    padding-right: 30px;
    height: 100%;
}


@media screen and (max-width: 1024px){
	.logo{
	  width: 30%;
	}
}

@media screen and (max-width: 676px){
	.logo{
	  width: 40%;
	}
}


img.logo__image {
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.content{
	width: 80%;
}

@media screen and (max-width: 1024px){
	.content{
	  width: 70%;
	}
}
@media screen and (max-width: 676px){
	.content{
	  width: 60%;
	}
}

.content__name{
	font-size: 45px;
	margin: 0;
	line-height: 1.2;
}

.contact-list__item a{
	color: #444;
	font-weight: 600;
}

.contact-list{
	padding: 0;
    white-space: nowrap;
    list-style: none;
}

@media screen and (max-width: 676px){

	.contact-list{
	    margin-left: -20px;
	}
}